@page
@{
    ViewData["Title"] = "Incluir";
}

<div class="card">
    <div class="card-header"><strong>Produto</strong> Incluir</div>
    <div class="card-body">
        <div class="header-button">
            <button class="btn btn-sm btn-secondary" type="button">
                <i class="cil-plus"></i>
            </button>
        </div>
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Fornecedor</th>
                    <th>Quantidade</th>
                    <th>Especificação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="form-control" type="text" placeholder="Nome" />
                    </td>
                    <td>
                        <input class="form-control" type="text" placeholder="Preço" />
                    </td>
                    <td>
                        <input class="form-control" type="text" placeholder="Fornecedor" />
                    </td>
                    <td>
                        <input class="form-control" type="number" placeholder="Quantidade" />
                    </td>
                    <td>
                        <input class="form-control" type="text" placeholder="Especificação" />
                    </td>
                    <td>
                        <a title="Remover">
                            <i class="cil-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-success" type="submit"> Salvar</button>
        <button class="btn btn-sm btn-secondary" onclick="location.href = '/produto';" type="button"> Cancelar</button>
    </div>
</div>

