@page
@{
    ViewData["Title"] = "Editar";
}

<div class="card">
    <div class="card-header"><strong>Produto</strong> Editar</div>
    <form action="" method="post">
        <div class="card-body">

            <div class="row">
                <input class="form-control" name="codigo" type="hidden" />
                <div class="form-group col-sm-6">
                    <label>Nome</label>
                    <input class="form-control" name="nome" type="text" placeholder="Nome" />
                </div>
                <div class="form-group col-sm-6">
                    <label>Fabricante</label>
                    <select class="form-control" name="fabricante">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Preço</label>
                    <input class="form-control" name="preco" type="text" placeholder="Preço" />
                </div>
                <div class="form-group col-sm-6">
                    <label>Quantidade</label>
                    <input class="form-control" name="quantidade" type="number" placeholder="Quantidade" />
                </div>
            </div>
            <div class="form-group">
                <label>Especificações</label>
                <textarea class="form-control" name="especificacoes" rows="3" placeholder="Especificações"></textarea>
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-sm btn-success" type="submit"> Salvar</button>
            <button class="btn btn-sm btn-secondary" onclick="location.href = '/produto';" type="button"> Cancelar</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/pages/produto/edit.js"></script>
}
