@page
@{
    ViewData["Title"] = "Registrar Venda";
}


<div class="card">
    <div class="card-header"><strong>Produto</strong> Registar Venda</div>
    <div class="card-body">
        <form action="" method="post">
            <div class="row">
                <div class="form-group col-sm-5">
                    <label>Código do Produto</label>
                    <input class="form-control" type="number" placeholder="Código do Produto" />
                </div>
                <div class="form-group col-sm-5">
                    <label>Quantidade</label>
                    <input class="form-control" type="number" placeholder="Quantidade" />
                </div>
                <div class="form-group col-sm-2">
                    <button type="button" class="btn btn-sm btn-primary">
                        <i class="cil-plus"></i>
                    </button>
                </div>
            </div>

            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço un</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Samppa Nori</td>
                        <td>2012/01/01</td>
                        <td>Member</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>Estavan Lykos</td>
                        <td>2012/02/01</td>
                        <td>Staff</td>
                        <td><span class="badge badge-danger">Banned</span></td>
                    </tr>
                    <tr>
                        <td>Chetan Mohamed</td>
                        <td>2012/02/01</td>
                        <td>Admin</td>
                        <td><span class="badge badge-secondary">Inactive</span></td>
                    </tr>
                    <tr>
                        <td>Derick Maximinus</td>
                        <td>2012/03/01</td>
                        <td>Member</td>
                        <td><span class="badge badge-warning">Pending</span></td>
                    </tr>
                    <tr>
                        <td>Friderik Dávid</td>
                        <td>2012/01/21</td>
                        <td>Staff</td>
                        <td><span class="badge badge-success">Active</span></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-success" type="submit"> Finalizar Compra</button>
        <button class="btn btn-sm btn-secondary" onclick="location.href = '/produto';" type="button"> Cancelar</button>
    </div>
</div>

