@page
@{
    ViewData["Title"] = "Registrar Venda";
}


<div class="card">
    <div class="card-header"><strong>Produto</strong> Registar Venda</div>
    <form action="" method="post">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-5">
                    <label>Código do Produto</label>
                    <input class="form-control" name="codigo-produto" type="number" placeholder="Código do Produto" />
                </div>
                <div class="form-group col-sm-5">
                    <label>Quantidade</label>
                    <input class="form-control" type="number" name="quantidade-produto-venda" placeholder="Quantidade" />
                </div>
                <div class="form-group col-sm-2">
                    <button type="button" id="btn-add-produto" class="btn btn-sm btn-primary" style="margin-top: 14%;">
                        <i class="cil-plus"></i>
                    </button>
                </div>
            </div>

            <table class="table table-responsive-sm" id="tabela-produto-venda">
                <thead>
                    <tr>
                        <th class="d-none"></th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço un</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="right" colspan="3" style="font-weight:bold;">Total:</td>
                        <td class="valor-total" style="font-weight:bold;"></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-success" type="submit"> Finalizar Compra</button>
            <button class="btn btn-sm btn-secondary" onclick="location.href = '/produto';" type="button"> Cancelar</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/pages/produto/registrarVenda.js"></script>
}