@page
@{
    ViewData["Title"] = "Agendar Servico";
}

<div class="card">
    <div class="card-header"><strong>Serviço</strong> Agendar Serviço</div>
    <form action="" method="post">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Cliente</label>
                    <select name="cliente" class="form-control">
                        <option value="">Selecione</option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label>Pet</label>
                    <select name="pet" class="form-control">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Serviço</label>
                    <select name="servico" class="form-control">
                        <option value="">Selecione</option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label>Profissional</label>
                    <select name="profissional" class="form-control">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Data</label>
                    <input name="data" class="form-control" type="date" placeholder="Data" />
                </div>
                <div class="form-group col-sm-6">
                    <label>Horário</label>
                    <select name="horario" class="form-control">
                    </select>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-sm btn-success" type="submit"> Salvar</button>
            <button class="btn btn-sm btn-primary" type="button" onclick="location.href = '/agenda';"> Cancelar</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/pages/agenda/agendar-servico.js"></script>
}