@page "/"
@{
    ViewData["Title"] = "Agenda";
}


<div class="card">
    <div class="card-header"><strong>Serviço</strong> Agenda</div>
    <div class="card-body">
        <div class="header-button">
            <button class="btn btn-sm btn-secondary" type="button" onclick="location.href = '/agenda/agendarServico';">Agendar Serviço</button>
        </div>
        <form action="" method="get">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Cliente</label>
                    <input class="form-control" type="text" placeholder="Cliente" />
                </div>
                <div class="form-group col-sm-6">
                    <label>Data</label>
                    <input class="form-control" type="date" placeholder="Data" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Profissional</label>
                    <input class="form-control" type="text" placeholder="Profissional" />
                </div>
                <div class="form-group col-sm-6">
                    <label></label>
                    <button class="btn btn-sm btn-primary" type="button">Filtrar</button>
                </div>
            </div>

            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Serviço</th>
                        <th>Profissional</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Samppa Nori</td>
                        <td>2012/01/01</td>
                        <td>Member</td>
                        <td>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>Estavan Lykos</td>
                        <td>2012/02/01</td>
                        <td>Staff</td>
                        <td><span class="badge badge-danger">Banned</span></td>
                    </tr>
                    <tr>
                        <td>Chetan Mohamed</td>
                        <td>2012/02/01</td>
                        <td>Admin</td>
                        <td><span class="badge badge-secondary">Inactive</span></td>
                    </tr>
                    <tr>
                        <td>Derick Maximinus</td>
                        <td>2012/03/01</td>
                        <td>Member</td>
                        <td><span class="badge badge-warning">Pending</span></td>
                    </tr>
                    <tr>
                        <td>Friderik Dávid</td>
                        <td>2012/01/21</td>
                        <td>Staff</td>
                        <td><span class="badge badge-success">Active</span></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

