<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Doggis</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/css/coreui.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
</head>

<body class="c-app">
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand d-md-down-none">
            Doggis
        </div>
        <ul class="c-sidebar-nav ps ps--active-y">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="colors.html">
                    <i class="cil-check-circle"></i>
                    &nbsp;&nbsp;&nbsp; Agendar Serviço
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="colors.html">
                    <i class="cil-dollar"></i>
                    &nbsp;&nbsp;&nbsp; Registrar Venda
                </a>
            </li>
            <li class="c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-dropdown-toggle" href="#">
                    <i class="cil-list"></i>
                    &nbsp;&nbsp;&nbsp; Serviços
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="base/breadcrumb.html"> Lista </a></li>
                    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="base/cards.html"> Incluir </a></li>
                </ul>
            </li>
            <li class="c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-dropdown-toggle" href="#">
                    <i class="cil-clipboard"></i>
                    &nbsp;&nbsp;&nbsp; Produtos
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="base/breadcrumb.html"> Lista </a></li>
                    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="base/cards.html"> Incluir </a></li>
                </ul>
            </li>
        </ul>
        @*<button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-unfoldable"></button>*@
    </div>

    <div class="c-wrapper">
        <header class="c-header c-header-light c-header-fixed">
            <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
                <i class="cil-menu"></i>
            </button>
            @*<a class="c-header-brand d-lg-none c-header-brand-sm-up-center" href="#">
                    <svg width="118" height="46" alt="CoreUI Logo">
                    </svg>
                </a>*@
            <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
                <i class="cil-menu"></i>
            </button>

            <ul class="c-header-nav mfs-auto">
                <li class="c-header-nav-item px-3 c-d-legacy-none">
                    <button class="c-class-toggler c-header-nav-btn" type="button" id="header-tooltip" data-target="body" data-class="c-dark-theme" data-toggle="c-tooltip" data-placement="bottom" title="" data-original-title="Toggle Light/Dark Mode">
                        <i class="cil-check-circle"></i>
                    </button>
                </li>
                <li class="c-header-nav-item px-3 c-d-legacy-none">
                    <button class="c-class-toggler c-header-nav-btn" type="button" id="header-tooltip" data-target="body" data-class="c-dark-theme" data-toggle="c-tooltip" data-placement="bottom" title="" data-original-title="Toggle Light/Dark Mode">
                        <i class="cil-dollar"></i>
                    </button>
                </li>
            </ul>

            <ul class="c-header-nav mfe-md-3">
                <li class="c-header-nav-item dropdown">
                    <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="c-avatar">
                            <img class="c-avatar-img" src="~/img/default-avatar.jpg" alt="user@email.com" />
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right pt-0">
                        <a class="dropdown-item" href="#">
                            <svg class="c-icon mfe-2">
                            </svg> Logout
                        </a>
                    </div>
                </li>
            </ul>

            <div class="c-subheader justify-content-between px-3">
                <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </header>

        <div class="c-body">
            <main role="main" class="c-main">
                <div class="container-fluid">
                    <div id="ui-view">
                        <div>
                            <div class="fade-in">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="c-footer">
                <div>
                    &copy; 2020 - Doggis - <a asp-area="" asp-page="#">Privacy</a>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/coreui.bundle.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
